/*!
 * Project: bsColors - Custom colors addon for Bootstrap
 * License: GNU GPL 2.0
 * GitHub: https://github.com/cmrodican/bootstrap-addons
 * Description: A collection of projects to add new functionality and dynamic features to static Bootstrap websites.
 */

/*
 * Text Color Classes
 */
.text-indian-red { color: IndianRed; }
.text-light-coral { color: LightCoral; }
.text-salmon { color: Salmon; }
.text-dark-salmon { color: DarkSalmon; }
.text-light-salmon { color: LightSalmon; }
.text-crimson { color: Crimson; }
.text-red { color: Red; }
.text-fire-brick { color: FireBrick; }
.text-dark-red { color: DarkRed; }
.text-pink { color: Pink; }
.text-light-pink { color: LightPink; }
.text-hot-pink { color: HotPink; }
.text-deep-pink { color: DeepPink; }
.text-medium-violet-red { color: MediumVioletRed; }
.text-pale-violet-red { color: PaleVioletRed; }
.text-coral { color: Coral; }
.text-tomato { color: Tomato; }
.text-orange-red { color: OrangeRed; }
.text-dark-orange { color: DarkOrange; }
.text-orange { color: Orange; }
.text-gold { color: Gold; }
.text-yellow { color: Yellow; }
.text-light-yellow { color: LightYellow; }
.text-lemon-chiffon { color: LemonChiffon; }
.text-light-goldenrod-yellow { color: LightGoldenrodYellow; }
.text-papaya-whip { color: PapayaWhip; }
.text-moccasin { color: Moccasin; }
.text-peach-puff { color: PeachPuff; }
.text-pale-goldenrod { color: PaleGoldenrod; }
.text-khaki { color: Khaki; }
.text-dark-khaki { color: DarkKhaki; }
.text-lavender { color: Lavender; }
.text-thistle { color: Thistle; }
.text-plum { color: Plum; }
.text-violet { color: Violet; }
.text-orchid { color: Orchid; }
.text-fuchsia { color: Fuchsia; }
.text-magenta { color: Magenta; }
.text-medium-orchid { color: MediumOrchid; }
.text-medium-purple { color: MediumPurple; }
.text-rebecca-purple { color: RebeccaPurple; }
.text-blue-violet { color: BlueViolet; }
.text-dark-violet { color: DarkViolet; }
.text-dark-orchid { color: DarkOrchid; }
.text-dark-magenta { color: DarkMagenta; }
.text-purple { color: Purple; }
.text-indigo { color: Indigo; }
.text-slate-blue { color: SlateBlue; }
.text-dark-slate-blue { color: DarkSlateBlue; }
.text-medium-slate-blue { color: MediumSlateBlue; }
.text-green-yellow { color: GreenYellow; }
.text-chartreuse { color: Chartreuse; }
.text-lawn-green { color: LawnGreen; }
.text-lime { color: Lime; }
.text-lime-green { color: LimeGreen; }
.text-pale-green { color: PaleGreen; }
.text-light-green { color: LightGreen; }
.text-medium-spring-green { color: MediumSpringGreen; }
.text-spring-green { color: SpringGreen; }
.text-medium-sea-green { color: MediumSeaGreen; }
.text-sea-green { color: SeaGreen; }
.text-forest-green { color: ForestGreen; }
.text-green { color: Green; }
.text-dark-green { color: DarkGreen; }
.text-yellow-green { color: YellowGreen; }
.text-olive-drab { color: OliveDrab; }
.text-olive { color: Olive; }
.text-dark-olive-green { color: DarkOliveGreen; }
.text-medium-aquamarine { color: MediumAquamarine; }
.text-dark-sea-green { color: DarkSeaGreen; }
.text-light-sea-green { color: LightSeaGreen; }
.text-dark-cyan { color: DarkCyan; }
.text-teal { color: Teal; }
.text-aqua { color: Aqua; }
.text-cyan { color: Cyan; }
.text-light-cyan { color: LightCyan; }
.text-pale-turquoise { color: PaleTurquoise; }
.text-aquamarine { color: Aquamarine; }
.text-turquoise { color: Turquoise; }
.text-medium-turquoise { color: MediumTurquoise; }
.text-dark-turquoise { color: DarkTurquoise; }
.text-cadet-blue { color: CadetBlue; }
.text-steel-blue { color: SteelBlue; }
.text-light-steel-blue { color: LightSteelBlue; }
.text-powder-blue { color: PowderBlue; }
.text-light-blue { color: LightBlue; }
.text-sky-blue { color: SkyBlue; }
.text-light-sky-blue { color: LightSkyBlue; }
.text-deep-sky-blue { color: DeepSkyBlue; }
.text-dodger-blue { color: DodgerBlue; }
.text-cornflower-blue { color: CornflowerBlue; }
.text-royal-blue { color: RoyalBlue; }
.text-blue { color: Blue; }
.text-medium-blue { color: MediumBlue; }
.text-dark-blue { color: DarkBlue; }
.text-navy { color: Navy; }
.text-midnight-blue { color: MidnightBlue; }
.text-cornsilk { color: Cornsilk; }
.text-blanched-almond { color: BlanchedAlmond; }
.text-bisque { color: Bisque; }
.text-navajo-white { color: NavajoWhite; }
.text-wheat { color: Wheat; }
.text-burly-wood { color: BurlyWood; }
.text-tan { color: Tan; }
.text-rosy-brown { color: RosyBrown; }
.text-sandy-brown { color: SandyBrown; }
.text-goldenrod { color: Goldenrod; }
.text-dark-goldenrod { color: DarkGoldenrod; }
.text-peru { color: Peru; }
.text-chocolate { color: Chocolate; }
.text-saddle-brown { color: SaddleBrown; }
.text-sienna { color: Sienna; }
.text-brown { color: Brown; }
.text-maroon { color: Maroon; }
.text-white { color: White; }
.text-snow { color: Snow; }
.text-honey-dew { color: HoneyDew; }
.text-mint-cream { color: MintCream; }
.text-azure { color: Azure; }
.text-alice-blue { color: AliceBlue; }
.text-ghost-white { color: GhostWhite; }
.text-white-smoke { color: WhiteSmoke; }
.text-sea-shell { color: SeaShell; }
.text-beige { color: Beige; }
.text-old-lace { color: OldLace; }
.text-floral-white { color: FloralWhite; }
.text-ivory { color: Ivory; }
.text-antique-white { color: AntiqueWhite; }
.text-linen { color: Linen; }
.text-lavender-blush { color: LavenderBlush; }
.text-misty-rose { color: MistyRose; }
.text-gainsboro { color: Gainsboro; }
.text-light-gray { color: LightGray; }
.text-silver { color: Silver; }
.text-dark-gray { color: DarkGray; }
.text-gray { color: Gray; }
.text-dim-gray { color: DimGray; }
.text-light-slate-gray { color: LightSlateGray; }
.text-slate-gray { color: SlateGray; }
.text-dark-slate-gray { color: DarkSlateGray; }
.text-black { color: Black; }



/*
 * Background Color Classes
 */
.bg-indian-red { background-color: IndianRed; }
.bg-light-coral { background-color: LightCoral; }
.bg-salmon { background-color: Salmon; }
.bg-dark-salmon { background-color: DarkSalmon; }
.bg-light-salmon { background-color: LightSalmon; }
.bg-crimson { background-color: Crimson; }
.bg-red { background-color: Red; }
.bg-fire-brick { background-color: FireBrick; }
.bg-dark-red { background-color: DarkRed; }
.bg-pink { background-color: Pink; }
.bg-light-pink { background-color: LightPink; }
.bg-hot-pink { background-color: HotPink; }
.bg-deep-pink { background-color: DeepPink; }
.bg-medium-violet-red { background-color: MediumVioletRed; }
.bg-pale-violet-red { background-color: PaleVioletRed; }
.bg-coral { background-color: Coral; }
.bg-tomato { background-color: Tomato; }
.bg-orange-red { background-color: OrangeRed; }
.bg-dark-orange { background-color: DarkOrange; }
.bg-orange { background-color: Orange; }
.bg-gold { background-color: Gold; }
.bg-yellow { background-color: Yellow; }
.bg-light-yellow { background-color: LightYellow; }
.bg-lemon-chiffon { background-color: LemonChiffon; }
.bg-light-goldenrod-yellow { background-color: LightGoldenrodYellow; }
.bg-papaya-whip { background-color: PapayaWhip; }
.bg-moccasin { background-color: Moccasin; }
.bg-peach-puff { background-color: PeachPuff; }
.bg-pale-goldenrod { background-color: PaleGoldenrod; }
.bg-khaki { background-color: Khaki; }
.bg-dark-khaki { background-color: DarkKhaki; }
.bg-lavender { background-color: Lavender; }
.bg-thistle { background-color: Thistle; }
.bg-plum { background-color: Plum; }
.bg-violet { background-color: Violet; }
.bg-orchid { background-color: Orchid; }
.bg-fuchsia { background-color: Fuchsia; }
.bg-magenta { background-color: Magenta; }
.bg-medium-orchid { background-color: MediumOrchid; }
.bg-medium-purple { background-color: MediumPurple; }
.bg-rebecca-purple { background-color: RebeccaPurple; }
.bg-blue-violet { background-color: BlueViolet; }
.bg-dark-violet { background-color: DarkViolet; }
.bg-dark-orchid { background-color: DarkOrchid; }
.bg-dark-magenta { background-color: DarkMagenta; }
.bg-purple { background-color: Purple; }
.bg-indigo { background-color: Indigo; }
.bg-slate-blue { background-color: SlateBlue; }
.bg-dark-slate-blue { background-color: DarkSlateBlue; }
.bg-medium-slate-blue { background-color: MediumSlateBlue; }
.bg-green-yellow { background-color: GreenYellow; }
.bg-chartreuse { background-color: Chartreuse; }
.bg-lawn-green { background-color: LawnGreen; }
.bg-lime { background-color: Lime; }
.bg-lime-green { background-color: LimeGreen; }
.bg-pale-green { background-color: PaleGreen; }
.bg-light-green { background-color: LightGreen; }
.bg-medium-spring-green { background-color: MediumSpringGreen; }
.bg-spring-green { background-color: SpringGreen; }
.bg-medium-sea-green { background-color: MediumSeaGreen; }
.bg-sea-green { background-color: SeaGreen; }
.bg-forest-green { background-color: ForestGreen; }
.bg-green { background-color: Green; }
.bg-dark-green { background-color: DarkGreen; }
.bg-yellow-green { background-color: YellowGreen; }
.bg-olive-drab { background-color: OliveDrab; }
.bg-olive { background-color: Olive; }
.bg-dark-olive-green { background-color: DarkOliveGreen; }
.bg-medium-aquamarine { background-color: MediumAquamarine; }
.bg-dark-sea-green { background-color: DarkSeaGreen; }
.bg-light-sea-green { background-color: LightSeaGreen; }
.bg-dark-cyan { background-color: DarkCyan; }
.bg-teal { background-color: Teal; }
.bg-aqua { background-color: Aqua; }
.bg-cyan { background-color: Cyan; }
.bg-light-cyan { background-color: LightCyan; }
.bg-pale-turquoise { background-color: PaleTurquoise; }
.bg-aquamarine { background-color: Aquamarine; }
.bg-turquoise { background-color: Turquoise; }
.bg-medium-turquoise { background-color: MediumTurquoise; }
.bg-dark-turquoise { background-color: DarkTurquoise; }
.bg-cadet-blue { background-color: CadetBlue; }
.bg-steel-blue { background-color: SteelBlue; }
.bg-light-steel-blue { background-color: LightSteelBlue; }
.bg-powder-blue { background-color: PowderBlue; }
.bg-light-blue { background-color: LightBlue; }
.bg-sky-blue { background-color: SkyBlue; }
.bg-light-sky-blue { background-color: LightSkyBlue; }
.bg-deep-sky-blue { background-color: DeepSkyBlue; }
.bg-dodger-blue { background-color: DodgerBlue; }
.bg-cornflower-blue { background-color: CornflowerBlue; }
.bg-royal-blue { background-color: RoyalBlue; }
.bg-blue { background-color: Blue; }
.bg-medium-blue { background-color: MediumBlue; }
.bg-dark-blue { background-color: DarkBlue; }
.bg-navy { background-color: Navy; }
.bg-midnight-blue { background-color: MidnightBlue; }
.bg-cornsilk { background-color: Cornsilk; }
.bg-blanched-almond { background-color: BlanchedAlmond; }
.bg-bisque { background-color: Bisque; }
.bg-navajo-white { background-color: NavajoWhite; }
.bg-wheat { background-color: Wheat; }
.bg-burly-wood { background-color: BurlyWood; }
.bg-tan { background-color: Tan; }
.bg-rosy-brown { background-color: RosyBrown; }
.bg-sandy-brown { background-color: SandyBrown; }
.bg-goldenrod { background-color: Goldenrod; }
.bg-dark-goldenrod { background-color: DarkGoldenrod; }
.bg-peru { background-color: Peru; }
.bg-chocolate { background-color: Chocolate; }
.bg-saddle-brown { background-color: SaddleBrown; }
.bg-sienna { background-color: Sienna; }
.bg-brown { background-color: Brown; }
.bg-maroon { background-color: Maroon; }
.bg-white { background-color: White; }
.bg-snow { background-color: Snow; }
.bg-honey-dew { background-color: HoneyDew; }
.bg-mint-cream { background-color: MintCream; }
.bg-azure { background-color: Azure; }
.bg-alice-blue { background-color: AliceBlue; }
.bg-ghost-white { background-color: GhostWhite; }
.bg-white-smoke { background-color: WhiteSmoke; }
.bg-sea-shell { background-color: SeaShell; }
.bg-beige { background-color: Beige; }
.bg-old-lace { background-color: OldLace; }
.bg-floral-white { background-color: FloralWhite; }
.bg-ivory { background-color: Ivory; }
.bg-antique-white { background-color: AntiqueWhite; }
.bg-linen { background-color: Linen; }
.bg-lavender-blush { background-color: LavenderBlush; }
.bg-misty-rose { background-color: MistyRose; }
.bg-gainsboro { background-color: Gainsboro; }
.bg-light-gray { background-color: LightGray; }
.bg-silver { background-color: Silver; }
.bg-dark-gray { background-color: DarkGray; }
.bg-gray { background-color: Gray; }
.bg-dim-gray { background-color: DimGray; }
.bg-light-slate-gray { background-color: LightSlateGray; }
.bg-slate-gray { background-color: SlateGray; }
.bg-dark-slate-gray { background-color: DarkSlateGray; }
.bg-black { background-color: Black; }

/*