$colors: (
  blue: #0d6efd,
  indigo: #6610f2,
  purple: #6f42c1,
  pink: #d63384,
  red: #dc3545,
  orange: #fd7e14,
  yellow: #ffc107,
  green: #198754,
  teal: #20c997,
  cyan: #0dcaf0,
  black: #000,
  white: #fff,
  gray: #6c757d,
  gray-dark: #343a40,
  primary: #00543d,
  secondary: #55298a,
  success: #198754,
  warning: #ffc107,
  danger: #dc3545
);

@mixin button-styles($color) {
  background-color: $color;
  color: if($color == $white, $black, $white);

  &::before,
  &::after {
    left: -50%;
  }

  &::after {
    left: -100%;
  }

  &:hover {
    background-color: darken($color, 10%);
    color: if($color == $white, $black, $white);
  }
}

@mixin button-variants($name, $color) {
  .customButton--#{$name} {
    @include button-styles($color);
  }

  .customButton--#{$name}-subtle {
    background-color: rgba($color, 0.1);
    color: $color;
    @include button-styles($color);
  }

  .customButton--#{$name}-emphasis {
    background-color: darken($color, 10%);
    color: $white;
    @include button-styles(darken($color, 10%));
  }

  .customButton--#{$name}-outline {
    background-color: transparent;
    border: 2px solid $color;
    color: $color;

    &::before,
    &::after {
      left: -50%;
    }

    &::after {
      left: -100%;
    }

    &:hover {
      background-color: $color;
      color: $white;
    }
  }
}

@each $name, $color in $colors {
  @include button-variants($name, $color);
}