.block__home-programs-cards {
    background-color: #e3efe3;
    padding-bottom: 60px
}

@media(min-width:768px) {
    .block__home-programs-cards {
        padding-bottom: 100px
    }
}

@media(min-width:1200px) {
    .block__home-programs-cards {
        padding-bottom: 178px
    }
}

.block__home-programs-cards:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%271440%27 height=%27118%27 fill=%27none%27%3E%3Cmask id=%27a%27 width=%271440%27 height=%27118%27 x=%270%27 y=%270%27 maskUnits=%27userSpaceOnUse%27 style=%27mask-type:alpha%27%3E%3Cpath fill=%27%23D9D9D9%27 d=%27M0 0h1440v118H0z%27/%3E%3C/mask%3E%3Cg mask=%27url%28%23a%29%27%3E%3Cg filter=%27url%28%23b%29%27 opacity=%27.6%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 56c720 72 720 72 1440 0v66H0z%27/%3E%3C/g%3E%3Cg filter=%27url%28%23c%29%27 opacity=%27.4%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 39c720 90.545 720 90.545 1440 0v83H0z%27/%3E%3C/g%3E%3Cg filter=%27url%28%23d%29%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 71c720 52 720 52 1440 0v52H0z%27/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id=%27b%27 width=%271472%27 height=%2798%27 x=%27-16%27 y=%2736%27 color-interpolation-filters=%27sRGB%27 filterUnits=%27userSpaceOnUse%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeColorMatrix in=%27SourceAlpha%27 result=%27hardAlpha%27 values=%270 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0%27/%3E%3CfeOffset dy=%27-4%27/%3E%3CfeGaussianBlur stdDeviation=%278%27/%3E%3CfeComposite in2=%27hardAlpha%27 operator=%27out%27/%3E%3CfeColorMatrix values=%270 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0%27/%3E%3CfeBlend in2=%27BackgroundImageFix%27 result=%27effect1_dropShadow_3325_1092%27/%3E%3CfeBlend in=%27SourceGraphic%27 in2=%27effect1_dropShadow_3325_1092%27 result=%27shape%27/%3E%3C/filter%3E%3Cfilter id=%27c%27 width=%271508%27 height=%27151%27 x=%27-34%27 y=%27-5%27 color-interpolation-filters=%27sRGB%27 filterUnits=%27userSpaceOnUse%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeColorMatrix in=%27SourceAlpha%27 result=%27hardAlpha%27 values=%270 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0%27/%3E%3CfeOffset dy=%27-10%27/%3E%3CfeGaussianBlur stdDeviation=%2717%27/%3E%3CfeComposite in2=%27hardAlpha%27 operator=%27out%27/%3E%3CfeColorMatrix values=%270 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0%27/%3E%3CfeBlend in2=%27BackgroundImageFix%27 result=%27effect1_dropShadow_3325_1092%27/%3E%3CfeBlend in=%27SourceGraphic%27 in2=%27effect1_dropShadow_3325_1092%27 result=%27shape%27/%3E%3C/filter%3E%3Cfilter id=%27d%27 width=%271460%27 height=%2772%27 x=%27-10%27 y=%2754%27 color-interpolation-filters=%27sRGB%27 filterUnits=%27userSpaceOnUse%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27/%3E%3CfeColorMatrix in=%27SourceAlpha%27 result=%27hardAlpha%27 values=%270 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0%27/%3E%3CfeOffset dy=%27-7%27/%3E%3CfeGaussianBlur stdDeviation=%275%27/%3E%3CfeComposite in2=%27hardAlpha%27 operator=%27out%27/%3E%3CfeColorMatrix values=%270 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.02 0%27/%3E%3CfeBlend in2=%27BackgroundImageFix%27 result=%27effect1_dropShadow_3325_1092%27/%3E%3CfeBlend in=%27SourceGraphic%27 in2=%27effect1_dropShadow_3325_1092%27 result=%27shape%27/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    height: 118px;
    left: 0;
    position: absolute;
    width: 100%
}

@media(min-width:1400px) {
    .block__home-programs-cards:before {
        height: 50vh
    }
}

.block__home-programs-cards .block__content+.block__cards {
    margin-top: 30px
}

.block__home-programs-cards .block__row {
    flex-wrap: wrap-reverse;
    position: relative;
    row-gap: 30px
}

.block__home-programs-cards .block__col {
    position: relative;
    z-index: 1
}

@media(min-width:1200px) {
    .block__home-programs-cards .block__content {
        padding-right: 120px
    }
}

.block__home-programs-cards .block__figure {
    height: 350px
}

@media(min-width:1200px) {
    .block__home-programs-cards .block__figure {
        bottom: 0;
        flex: 0 0 auto;
        height: 100%;
        position: absolute;
        right: 0;
        width: 25%
    }
}

.block__home-programs-cards .block__figure img {
    border-top-left-radius: 30px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%
}

.block__home-programs-cards .card {
    height: 100%;
    min-height: 343px;
    padding-top: 24px;
    position: relative
}

.block__home-programs-cards .card__icon {
    background-color: #55298a;
    height: 48px;
    left: 30px;
    position: absolute;
    top: 0;
    transition: all .5s ease;
    width: 48px;
    z-index: 1
}

@media(min-width:768px) {
    .block__home-programs-cards .card__icon {
        left: 25px
    }
}

.block__home-programs-cards .card__icon img {
    bottom: unset;
    height: calc(100% - 25px);
    left: 50%;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: .4s;
    transition-property: filter;
    transition-timing-function: ease-in-out;
    width: calc(100% - 25px)
}

.block__home-programs-cards .card a {
    display: block;
    height: 100%;
    padding: 0
}

.block__home-programs-cards .card__body {
    align-self: flex-start;
    background-color: #fff;
    border-radius: 2px 2px 2px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    position: relative;
    transition-duration: .4s;
    transition-property: background-color
}

@media(min-width:768px) {
    .block__home-programs-cards .card__body {
        padding: 46px 25px 30px
    }
}

.block__home-programs-cards .card__body *>*,
.block__home-programs-cards .card__body>* {
    color: #1e1e1e;
    margin: 0;
    transition-duration: .4s;
    transition-property: color;
    transition-timing-function: ease-in-out
}

.block__home-programs-cards .card__body__title {
    color: #55298a;
    padding-bottom: 12px
}

.block__home-programs-cards .card__body__button {
    padding-top: 20px
}

.block__home-programs-cards .card__body__button span:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%279%27 height=%279%27 fill=%27none%27%3E%3Cpath fill=%27%23211F1F%27 d=%27M8.821 1a.75.75 0 0 0-.75-.75h-6.75a.75.75 0 1 0 0 1.5h6v6a.75.75 0 1 0 1.5 0zm-7.29 7.601 7.07-7.07L7.541.47.47 7.54z%27/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-flex;
    height: 10px;
    margin-right: 8px;
    opacity: 0;
    transition: all .2s ease;
    width: 10px
}

.block__home-programs-cards .card.active .card__body,
.block__home-programs-cards .card:hover .card__body {
    background-color: #00543d
}

.block__home-programs-cards .card.active .card__body *>*,
.block__home-programs-cards .card.active .card__body>*,
.block__home-programs-cards .card:hover .card__body *>*,
.block__home-programs-cards .card:hover .card__body>* {
    color: #fff
}

.block__home-programs-cards .card.active .card__body__button span:before,
.block__home-programs-cards .card:hover .card__body__button span:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%279%27 height=%279%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M8.821 1a.75.75 0 0 0-.75-.75h-6.75a.75.75 0 1 0 0 1.5h6v6a.75.75 0 1 0 1.5 0zm-7.29 7.601 7.07-7.07L7.541.47.47 7.54z%27/%3E%3C/svg%3E")
}